@charset "utf-8";
/* CSS Document */

.curved {
 position:relative;
 margin:0px auto;
 min-width:8em;
 max-width:760px; 
 color:#000;
 z-index:1;
 margin-left:11px; /* default, width of left corner */
 margin-bottom:0.5em; 
}
.curved .content,
.curved .t,
.curved .b,
.curved .b div {
 background:transparent url(../images/dialog2-blue-800x1600.png) no-repeat top right;
}
.curved .content {
 position:relative;
 zoom:1;
 _overflow-y:hidden;
 padding:0px 20px 0px 40px;
}
.curved .t {
 /* top+left vertical slice */
 position:absolute;
 left:0px;
 top:0px;
 width:12px; /* top slice width */
 margin-left:-12px;
 height:100%;
 _height:1600px; /* arbitrary long height, IE 6 */
 background-position:top left;
}
.curved .b {
 /* bottom */
 position:relative;
 width:100%;
}
.curved .b,
.curved .b div {
 height:30px; /* height of bottom cap/shade */
 font-size:1px;
}
.curved .b {
 background-position:bottom right;
}
.curved .b div {
 position:relative;
 width:12px; /* bottom corner width */
 margin-left:-12px;
 background-position:bottom left;
}
.curved .hd,
.curved .bd,
.curved .ft {
 position:relative;
}
.curved .wrapper {
 position:static;
 max-height:1000px;
 overflow:auto;
}
.curved p {
 margin:0px; 
 padding:10px 50px 5px 50px;
}
.curved h1 {
 padding-bottom:0px;
 padding-top:0px;
}