@{
    ViewBag.Title = "Index";
}

<div ng-controller="widgetCtrl">
    <div class="divList">
        <p><b><i>Store Profile</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>Description</b></td>
                <td><b>DataValue</b></td>
                <td><b>LastChangedOn</b></td>
                <td><b>LastDataCollection</b></td>
            </tr>
            <tr ng-repeat="storeProfile in storeProfiles">
                <td>
                    {{storeProfile.Description}}
                </td>
                <td>
                    {{storeProfile.DataValue}}
                </td>
                <td>
                    {{storeProfile.LastChangedOn}}
                </td>
                <td>
                    {{storeProfile.LastDataCollection}}
                </td>
            </tr>
        </table>
    </div>
</div>